[user]
	name = Lukasz Strzalkowski
	email = lukasz.strzalkowski@gmail.com
[color]
	ui = always
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	logallrefupdates=true
[alias]
	co = checkout
	ci = commit
	cia = commit --amend --no-edit
	ca = commit -am
	co = checkout
	st = status -sb
	diff = diff --ignore-all-space
	diffc = diff --cached
	plre = pull --rebase
	ps = push
	switch = !legit switch \"$@\"
	branches = !legit branches
	unpublish = !legit unpublish \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green
[color "branch"]
	current = green bold
	local = blue
	remote = yellow
	plain = red bold
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[github]
	user = lukaszx0
[push]
	default = current
