[user]
	name = Lukasz Strzalkowski
	email = lukasz.strzalkowski@gmail.com
[color]
	ui = always
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	logallrefupdates=true
[alias]
	co = checkout
	ci = commit
	cia = commit --amend --no-edit
	ca = commit -am
	co = checkout
	st = status -sb
	diff = diff --ignore-all-space --word-diff
	show = show --word-diff
	diffc = diff --cached
	plre = pull --rebase
	ps = push
	psf = push --force-with-lease
	cp = cherry-pick
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green
[color "branch"]
	current = green bold
	local = blue
	remote = yellow
	plain = red bold
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[github]
	user = lukaszx0
[push]
	default = current
